Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

update again.
  .github/workflows/main.yml
Due: none

Update yaml.
  .github/workflows/main.yml
Due: none

Update.
  .github/workflows/main.yml
  test/test_helper.bash
Due: none

Done.
  test/Bash/pyenv-plugin.test.bats
  test/test_helper.bash
Due: none

Remove benchmark.
  .github/workflows/main.yml
Due: none

Update.
  Bash/lib/apidoc.bash
  Bash/plugins/pyenv.plugin.bash
  Bash/plugins/rust.plugin.bash
  Bash/themes/default.theme.bash
Due: dot-bash

move keybindings into inputrc to improve startup time.
  readline/surround
Due: none

Remove failing test for now.
  test/Bash/pyenv-plugin.test.bats
Due: none

source autopairs.
  Bash/bash_init.sh
Due: dot-sh

Trying to exclude lines in coverage. (#36)
  .github/workflows/main.yml
  .simplecov
  Bash/bash_init.sh
  Bash/core/autopairs.bash
  Bash/core/envars.bash
  Bash/core/keybindings.bash
  Bash/functions/fzf.functions.bash
  Bash/functions/general.functions.bash
  Bash/lib/apidoc.bash
  Bash/lib/helpers.bash
  Bash/lib/theme.bash
  Bash/lib/util.bash
  Bash/plugins/android_dev.plugin.bash
  Bash/plugins/fzf.plugin.bash
  Bash/plugins/golang.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/pyenv.plugin.bash
  Bash/plugins/rust.plugin.bash
  Bash/themes/default.theme.bash
  Git/.gitconfig.template
  Tmux/core/command-alias.tmux
  Tmux/core/keybindings.tmux
  Tmux/core/options.tmux
  Tmux/keybindings.tmux
  Tmux/menubars/main.menubar.tmux
  Tmux/menubars/music.menubar.tmux
  Tmux/menubars/server.menubar.tmux
  Tmux/menubars/session.menubar.tmux
  Tmux/themes/powerline.tmux
  Tmux/tmux.conf
  nvim/UltiSnips/bats.snippets
  readline/inputrc
  readline/surround
  test/Bash/general-functions.test.bats
  test/Bash/pyenv-plugin.test.bats
  test/test_helper.bash
  vscode/install.sh
  vscode/keybindings.json
  vscode/settings.json
  vscode/snippets/.gitkeep
Due: dot-sh, dot-bash

Replace $HOME with tilde (~) on pane_current_path.
  Tmux/themes/powerline.tmux
Due: none

Replace $HOME with tilde (~) on pane_current_path. (#38)
  Tmux/themes/powerline.tmux
Due: none

Add tmux theme.
  Bash/themes/default.theme.bash
  Tmux/tmux.conf
Due: dot-bash

add post-update hooks to some vim plugins.
  nvim/init.vim
Due: none

bash: update man plugin.
  Bash/plugins/man.plugin.bash
Due: dot-bash

Update.
  .pre-commit-config.yaml
  Tmux/core/command-alias.tmux
  Tmux/core/keybindings.tmux
  Tmux/core/options.tmux
  Tmux/init.tmux.sh
  Tmux/lib/statusbar.tmux
  Tmux/lib/util.tmux
  Tmux/plugins/.gitkeep
  Tmux/themes/default.theme.tmux
  Tmux/themes/powerline.theme.tmux
  Tmux/themes/powerline.tmux
  Tmux/tmux.conf
  Tmux/tmuxrc.local
  nvim/init.vim
Due: dot-sh

Fix PS1 linewrapping issue.
  Bash/themes/default.theme.bash
Due: dot-bash

Update.
  Bash/aliases/npm.aliases.bash
  Tmux/core/options.tmux
  Tmux/lib/statusbar.tmux
  Tmux/lib/util.tmux
  Tmux/themes/default.theme.tmux
Due: dot-bash

add format for custom hooks.
  hooks/dot-bash.sh
  hooks/dot-sh.sh
Due: dot-sh

Update tmux.
  Tmux/core/keybindings.tmux
  Tmux/core/options.tmux
  Tmux/lib/statusbar.tmux
  Tmux/lib/util.tmux
  Tmux/menubars/music.menubar.tmux
  Tmux/themes/default.theme.tmux
Due: none

tmux: add status justify.
  Tmux/themes/default.theme.tmux
Due: none

Update tmux.
  Tmux/lib/statusbar.tmux
  Tmux/themes/default.theme.tmux
  Tmux/tmux.conf
Due: none

Update.
  Tmux/themes/default.theme.tmux
  Tmux/tmux.conf
  nvim/init.vim
Due: none

save changes.
  Bash/aliases/general.aliases.bash
  Tmux/themes/default.theme.tmux
  nvim/autoload/vimrc.vim
  nvim/colors/codedark.vim
  nvim/colors/mytheme.vim
  nvim/colors/tpope.vim
  nvim/ftplugin/nerdtree.vim
  nvim/init.vim
  nvim/nerdtree_plugin/prettify.vim
Due: dot-bash

nvim: migrate config to Lua.
  nvim/ftplugin/lua.lua
  nvim/init.lua
  nvim/lua/cevhyruz/keybindings.lua
  nvim/lua/cevhyruz/options.lua
  nvim/lua/cevhyruz/packages.lua
  nvim/lua/modules/map_utils.lua
Due: none

Develop (#39)
  .pre-commit-config.yaml
  Bash/aliases/general.aliases.bash
  Bash/aliases/npm.aliases.bash
  Bash/plugins/man.plugin.bash
  Bash/themes/default.theme.bash
  Tmux/core/command-alias.tmux
  Tmux/core/keybindings.tmux
  Tmux/core/options.tmux
  Tmux/init.tmux.sh
  Tmux/lib/statusbar.tmux
  Tmux/lib/util.tmux
  Tmux/menubars/music.menubar.tmux
  Tmux/plugins/.gitkeep
  Tmux/themes/default.theme.tmux
  Tmux/themes/powerline.theme.tmux
  Tmux/themes/powerline.tmux
  Tmux/tmux.conf
  Tmux/tmuxrc.local
  hooks/dot-bash.sh
  hooks/dot-sh.sh
  nvim/autoload/vimrc.vim
  nvim/colors/codedark.vim
  nvim/colors/mytheme.vim
  nvim/colors/tpope.vim
  nvim/ftplugin/lua.lua
  nvim/ftplugin/nerdtree.vim
  nvim/init.lua
  nvim/init.vim
  nvim/lua/cevhyruz/keybindings.lua
  nvim/lua/cevhyruz/options.lua
  nvim/lua/cevhyruz/packages.lua
  nvim/lua/modules/map_utils.lua
  nvim/nerdtree_plugin/prettify.vim
Due: dot-sh, dot-bash

add setup/config for packer plugins.
  nvim/init.lua
  nvim/lua/cevhyruz/keybindings.lua
  nvim/lua/cevhyruz/options.lua
  nvim/lua/cevhyruz/packages.lua
Due: none

Update.
  nvim/init.lua
  nvim/init.vim
  nvim/lua/cevhyruz/keybindings.lua
  nvim/lua/cevhyruz/options.lua
  nvim/lua/cevhyruz/packages.lua
Due: none

Save my changes.
  Bash/plugins/fzf.plugin.bash
  nvim/lua/cevhyruz/options.lua
  nvim/lua/cevhyruz/packages.lua
Due: dot-bash

Remove unnecessary files.
  nvim/lua/package_config/fzf.lua
  nvim/lua/package_config/git-gutter.lua
  nvim/lua/package_config/indent-blankline.lua
  nvim/lua/package_config/nvim-tree.lua
  nvim/lua/package_config/vscode.lua
  nvim/plugin/_autocmds.vim
  nvim/plugin/_mappings.vim
Due: none

Added more lua files.
  nvim/init.lua
  nvim/lua/cevhyruz/abbrev.lua
  nvim/lua/cevhyruz/options.lua
  nvim/lua/cevhyruz/packages.lua
  nvim/lua/lsp_server/sumneko_lua.lua
  nvim/lua/package_config/nvim-cmp.lua
  nvim/lua/package_config/nvim-tree.lua
  nvim/lua/package_config/treesitter.lua
  nvim/lua/package_config/vscode.lua
Due: none

update lua.
  nvim/lua/cevhyruz/packages.lua
  nvim/lua/lsp_server/sumneko_lua.lua
  nvim/lua/package_config/nvim-cmp.lua
  nvim/lua/package_config/nvim-web-devicons.lua
  nvim/lua/package_config/treesitter.lua
Due: none

more lua.
  nvim/init.lua
  nvim/lua/lsp/config/sumneko_lua.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/init.lua
  nvim/lua/lsp/lsp_installer.lua
  nvim/lua/package_config/nvim-tree.lua
Due: none

refactor lua.
  nvim/lua/cevhyruz/keybindings.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/init.lua
  nvim/lua/modules/map_utils.lua
  nvim/lua/package_config/nvim-cmp.lua
  nvim/lua/package_config/nvim-tree.lua
Due: none

Remove unused bash bindings.
  Bash/core/keybindings.bash
Due: dot-bash

Refactor lua.
  Bash/plugins/golang.plugin.bash
  Bash/plugins/nvm.plugin.bash
  nvim/lua/cevhyruz/keybindings.lua
  nvim/lua/cevhyruz/packages.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/init.lua
  nvim/lua/lsp/lsp_installer.lua
  nvim/lua/modules/map_utils.lua
  nvim/lua/package_config/nvim-cmp.lua
  nvim/lua/package_config/nvim-tree.lua
Due: dot-bash

Move/Rename file/s for better directory structore.
  nvim/init.lua
  nvim/lua/plugins/config/fzf.lua
  nvim/lua/plugins/config/git-gutter.lua
  nvim/lua/plugins/config/indent-blankline.lua
  nvim/lua/plugins/config/nvim-cmp.lua
  nvim/lua/plugins/config/nvim-tree.lua
  nvim/lua/plugins/config/nvim-web-devicons.lua
  nvim/lua/plugins/config/treesitter.lua
  nvim/lua/plugins/config/vscode.lua
  nvim/lua/plugins/init.lua
  nvim/lua/user/abbrev.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/options.lua
Due: none

Refactor.
  nvim/lua/lsp/lsp_installer.lua
  nvim/lua/plugins/config/nvim-web-devicons.lua
  nvim/lua/user/keybindings.lua
Due: none

[bash] update golang plugin.
  Bash/plugins/golang.plugin.bash
Due: dot-bash

More lua.
  Bash/plugins/golang.plugin.bash
  Bash/plugins/pyenv.plugin.bash
  Git/.gitconfig.template
  docs/README.md
  nvim/init.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/lsp_installer.lua
  nvim/lua/modules/map_utils.lua
  nvim/lua/plugins/config/nvim-cmp.lua
  nvim/lua/plugins/config/vscode.lua
  nvim/lua/plugins/init.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/options.lua
  test/run
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$
  dot-bash: any of: \.bash$, but not: test/test_helper.bash
