Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

update
  test/run
Due: none

update.
  test/run
Due: none

fix bats test sutie.
  test/run
Due: none

fix test.
  test/run
  test/test_helper.bash
Due: none

update.
  test/run
  test/test_helper.bash
Due: none

hotfix.
  test/run
  test/test_helper.bash
Due: none

Move test files.
  test/tests/Bash/autopairs-core.test.bats
  test/tests/Bash/envars-core.test.bats
  test/tests/Bash/fzf-plugin.test.bats
  test/tests/Bash/general-aliases.test.bats
  test/tests/Bash/general-functions.test.bats
  test/tests/Bash/hooks.test.bats
  test/tests/Bash/nvm-plugin.test.bats
  test/tests/Bash/options.test.bats
  test/tests/Bash/pyenv-plugin.test.bats
  test/tests/Bash/theme-lib.test.bats
  test/tests/Bash/themes/default-theme.test.bats
  test/tests/Bash/util.test.bats
  test/tests/Nvim/feature/test.vader
  test/tests/Nvim/include/setup.vader
  test/tests/Nvim/include/teardown.vader
  test/tests/Nvim/plugins/nerdcommenter.vader
  test/tests/Nvim/run-test.vader
  test/tests/Nvim/vader.vader
  test/tests/install/install.bats
Due: none

Deprecated Codecov uploader.
  .github/workflows/main.yml
  test/run
  test/test_helper.bash
Due: none

Update.
  .github/workflows/main.yml
Due: none

Trying to exclude lines in coverage.
  Bash/themes/default.theme.bash
Due: dot-bash

Update.
  Bash/themes/default.theme.bash
Due: dot-bash

Add user entry into .gitconfig
  Git/.gitconfig.template
Due: none

Exclude functions directory from code coverage.
  .simplecov
Due: none

Remove functions test as it is now excluded in coverage.
  test/Bash/general-functions.test.bats
Due: none

Trying to implement visual mode in bash.
  Bash/core/keybindings.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

Fix wrong ansi in colorscheme.
  Bash/themes/default.theme.bash
Due: dot-bash

Refactor matching of escaped pair.
  Bash/core/autopairs.bash
Due: dot-bash

Add braces.
  Bash/core/autopairs.bash
Due: dot-bash

Update.
  Bash/core/autopairs.bash
Due: dot-bash

Move operation on variable instead.
  Bash/core/autopairs.bash
Due: dot-bash

Set editing mode to 'vi' so it supports programs that uses GNU readline.
  readline/inputrc
Due: none

Add Ultisnip snippet for bats.
  nvim/UltiSnips/bats.snippets
Due: none

Update.
  Bash/functions/general.functions.bash
  Git/.gitconfig.template
  Tmux/core/command-alias.tmux
  Tmux/core/keybindings.tmux
  Tmux/core/options.tmux
  Tmux/keybindings.tmux
  Tmux/menubars/main.menubar.tmux
  Tmux/menubars/music.menubar.tmux
  Tmux/menubars/server.menubar.tmux
  Tmux/menubars/session.menubar.tmux
  Tmux/themes/powerline.tmux
  Tmux/tmux.conf
Due: dot-bash

Fix flags.
  Tmux/themes/powerline.tmux
Due: none

Update.
  Tmux/core/keybindings.tmux
  Tmux/themes/powerline.tmux
  Tmux/tmux.conf
Due: none

Add extension installer to vscode.
  vscode/install.sh
  vscode/keybindings.json
  vscode/settings.json
Due: dot-sh

Fix conflicting keys.
  vscode/keybindings.json
Due: none

Update.
  vscode/settings.json
  vscode/snippets/.gitkeep
Due: none

Add fzf functions.
  Bash/functions/fzf.functions.bash
Due: dot-bash

Fix git prompt for bash.
  Bash/themes/default.theme.bash
Due: dot-bash

Rearrange prompt.
  Bash/themes/default.theme.bash
Due: dot-bash

Fix: pyenv shims directory appear multiple times in PATH.
  Bash/plugins/pyenv.plugin.bash
Due: dot-bash

Amend for f08fd2a (Fix: pyenv shims directory appear multiple times in $PATH ).
  Bash/plugins/pyenv.plugin.bash
Due: dot-bash

Update.
  Bash/lib/util.bash
  Bash/plugins/pyenv.plugin.bash
  Bash/themes/default.theme.bash
  Tmux/menubars/main.menubar.tmux
Due: dot-bash

Checking in my changes.
  Bash/bash_init.sh
  Bash/core/envars.bash
  Bash/functions/general.functions.bash
  Bash/lib/apidoc.bash
  Bash/lib/theme.bash
  Bash/lib/util.bash
  Bash/plugins/android_dev.plugin.bash
  Bash/plugins/fzf.plugin.bash
  Bash/plugins/golang.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/pyenv.plugin.bash
  Bash/themes/default.theme.bash
Due: dot-sh, dot-bash

Update prompt.
  Bash/themes/default.theme.bash
Due: dot-bash

Update.
  .github/workflows/main.yml
  Bash/bash_init.sh
  Bash/core/keybindings.bash
  Bash/lib/helpers.bash
  Bash/lib/util.bash
  readline/inputrc
Due: dot-sh, dot-bash

Update main.yml
  .github/workflows/main.yml
Due: none

Update yaml.
  .github/workflows/main.yml
Due: none

add benchmark.
  .github/workflows/main.yml
Due: none

Path conditions:
  dot-sh: any of: \.sh$
  dot-bash: any of: \.bash$, but not: test/test_helper.bash
