Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

Change lint_clean_files.sh to lint.sh
  .github/workflows/main.yml
Due: none

Update README to reflect the new CI.
  README.md
Due: none

Fix CI build
  .github/workflows/main.yml
Due: none

Lint and Fix lib::add_to_path not working
  bash/lib/lib.bash
Due: dot-bash

Remote bash/ tests
  bash/completion/completion
  bash/completion/functions.completion.bash
  bash/lib/dotfiles.bash
  bash/readline/surround/cs.readline
  bash/readline/surround/ds.readline
  bash/readline/surround/ys.readline
  bash/readline/surround/yss.readline
  bash/test/lib.test.bats
  bash/test/test.sh
  readline/inputrc
  readline/prompt
  readline/vi-command.readline
  readline/vi-insert.readline
Due: dot-sh, dot-bash

Fix prompt
  bash/profile.d/envars
  bash/profile.d/prompt
Due: none

Move composure.bash to plugin directory
  .pre-commit-config.yaml
  bash/plugin/composure.bash
Due: dot-bash

Refactor Bash.
  .pre-commit-config.yaml
  Bash/aliases/general.aliases.bash
  Bash/bash.bashrc
  Bash/components/colors
  Bash/components/envars
  Bash/components/functions
  Bash/components/options
  Bash/components/prompt
  Bash/profile
  bash/aliases/general.aliases.bash
  bash/bash_logout
  bash/completion/fzf
  bash/completion/git.completion.bash
  bash/completion/tmux
  bash/lib/lib.bash
  bash/plugin/composure.bash
  bash/profile
  nvim/init.vim
  test/Bash/lib.test.bats
  test/install/install.bats
  test/run
  test/test_helper.bash
  utils/util.bash
Due: dot-bash

Renamed git to Git.
  Git/.gitattributes
  Git/.gitconfig
  Git/.gitignore
  Git/.gitmessage
Due: none

Renamed tmux to Tmux
  .pre-commit-config.yaml
  Tmux/completion/.gitkeep
  Tmux/components/command-alias.tmux
  Tmux/components/keybindings.tmux
  Tmux/components/options.tmux
  Tmux/init.tmux.sh
  Tmux/lib/util.sh
  Tmux/plugins/sensible.tmux
  Tmux/plugins/statusbar.tmux
  Tmux/scripts/list-alias
  Tmux/scripts/list-test
  Tmux/scripts/run-alias
  Tmux/scripts/test-list
  Tmux/scripts/version
  Tmux/test/init.tmux.bats
  Tmux/themes/powerline.tmux
  Tmux/tmux.conf
Due: dot-sh

Fix tmux path conflict after renaming tmux/ to Tmux/
  Tmux/scripts/list-alias
  Tmux/scripts/test-list
  Tmux/test/init.tmux.bats
  Tmux/tmux.conf
Due: none

Add empty test suite for Tmux
  test/Tmux/tmux.test.bats
  test/run
Due: none

More tmux
  Tmux/completion/.gitkeep
  Tmux/components/command-alias.tmux
  Tmux/init.tmux.sh
  Tmux/keybindings.tmux
  Tmux/options.tmux
  Tmux/plugins/sensible.tmux
  Tmux/plugins/statusbar.tmux
  Tmux/scripts/list-test
  Tmux/scripts/run-alias
  Tmux/scripts/version
  Tmux/tmux.conf
  test/Tmux/tmux.test.bats
  test/test_helper.bash
  utils/init.tmux.sh
Due: dot-sh

Add Coverage on CI.
  .github/workflows/main.yml
Due: none

Add dependencies.
  Gemfile
  Gemfile.lock
Due: none

Remove Tmux test specs.
  test/run
Due: none

Fix bats load path for bashcov
  test/Bash/lib.test.bats
Due: none

Fix?
  utils/util.bash
Due: dot-bash

Fix trailing spaces.
  test/test_helper.bash
Due: none

Add .simplecov
  .simplecov
Due: none

Make test/run Tap compliant in github actions.
  .github/workflows/main.yml
  test/run
Due: none

Comment out failing test cases.
  test/Bash/lib.test.bats
Due: none

Add codecov badge.
  README.md
Due: none

Uncomment remaining test, Fix unbound variable error.
  test/Bash/lib.test.bats
  utils/util.bash
Due: dot-bash

Add test for Bash options.
  test/Bash/options.test.bats
Due: none

Commend out bash options that is incomplatible to CI checks
  Bash/components/options
  test/Bash/options.test.bats
Due: none

Fix _::add_to_path returning 1.
  test/Bash/lib.test.bats
  utils/util.bash
Due: dot-bash

Cleanup envars file
  Bash/components/envars
Due: none

Move bash options into bash_profile template.
  Bash/components/options
  Bash/template/bash_profile.template.bash
Due: dot-bash

Change folder structure of Bash contents.
  Bash/bash.bashrc
  Bash/bash_init.sh
  Bash/core/colors
  Bash/core/envars
  Bash/core/functions
  Bash/core/options
  Bash/core/prompt
  Bash/lib/util.bash
  Bash/profile
  Bash/template/bash_local.template.bash
  Bash/template/bash_profile.template.bash
Due: dot-sh, dot-bash

Hooks: add check for vim modeline.
  hooks/dot-bash.sh
Due: dot-sh

Update Bash options.
  Bash/bash_init.sh
  Bash/core/options
Due: dot-sh

Update Bash hook.
  hooks/dot-bash.sh
Due: dot-sh

Add HIST* variables.
  Bash/template/bash_profile.template.bash
Due: dot-bash

Bash: Add last exit code and fix PROMPT_COMMAND.
  Bash/core/prompt
Due: none

Update lib path.
  test/Bash/lib.test.bats
Due: none

Update envars file style.
  Bash/core/prompt
Due: none

Bash. Add prompt theme.
  Bash/core/envars
  Bash/core/prompt
  Bash/template/bash_profile.template.bash
  Bash/themes/default.theme.bash
  Bash/themes/powerline.theme.bash
Due: dot-bash

Bash: PS1 should not be set directly.
  Bash/core/prompt
  Bash/themes/default.theme.bash
  Bash/themes/powerline.theme.bash
Due: dot-bash

Move some bash-specific variables into options.
  Bash/core/envars
  Bash/core/options
Due: none

Path conditions:
  dot-sh: any of: \.sh$
  dot-bash: any of: \.bash$, but not: test/test_helper.bash
