Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, vim-vint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 1.18.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"

  - repo: local
    hooks:
      - id: dot-sh
        exclude: Tmux/lib/util.sh
        name: Check .sh files against dotfiles requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]

      - id: dot-bash
        name: Check .bash files against dotfiles requirements
        exclude: Bash/plugin/composure.bash
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

      - id: vim-vint
        name: Lint vimscript files
        entry: vint --warning --verbose --enable-neovim
        language: system
        files: "\\.vim$"
        types: [file]

[Bash] remove option
  src/Bash/core/options.bash
Due: dot-bash

[test]
  test/test_helper.bash
Due: dot-bash

[update]
  test/Bash/fzf-plugin.test.bats
  test/Bash/util.test.bats
  test/test_helper.bash
Due: dot-bash

export $DOTFILES
  test/run
Due: none

[update]
  test/Bash/fzf-plugin.test.bats
Due: none

[test] fix action(lint)
  .github/workflows/main.yml
Due: none

Tidy up
  src/Bash/core/autopairs.bash
Due: dot-bash

fix failing test
  src/Bash/plugins/fzf.plugin.bash
  test/Bash/fzf-plugin.test.bats
Due: dot-bash

We don't actually need the exports.
  test/run
Due: none

actually we do :P
  test/run
Due: none

[test] set -o nounset
  test/test_helper.bash
Due: dot-bash

[CI] update golang version from 1.16 to 1.18
  .github/workflows/main.yml
Due: none

[CI] use 'go install' instead of 'go get'
  .github/workflows/main.yml
Due: none

[CI] add gomodule version
  .github/workflows/main.yml
Due: none

[CI] fix breaking action
  .github/workflows/main.yml
Due: none

[CI] migrate
  .github/workflows/main.yml
Due: none

[CI] amend '2210336'
  .github/workflows/main.yml
Due: none

[CI] prevent empty codecov report
  .github/workflows/main.yml
Due: none

[Bash][plugins] add rbenv
  src/Bash/completions/rbenv.completion.bash
  src/Bash/plugins/rbenv.plugin.bash
Due: dot-bash

Add i3wm
  src/i3wm/bin/launcher.bash
  src/i3wm/config
  src/i3wm/core/i3bar
  src/i3wm/core/keybindings
  src/i3wm/core/options
  src/i3wm/core/startup
  src/i3wm/i3status
  src/i3wm/modes/adjust-volume
  src/i3wm/modes/move-window
  src/i3wm/modes/orientation
  src/i3wm/modes/resize
  src/i3wm/modes/toggle-gaps
  src/i3wm/themes/default.config
Due: dot-bash

[CI] revert to using bash uploader
  .github/workflows/main.yml
Due: none

[update]
  Gemfile.lock
Due: none

chore: edit simplecov
  .simplecov
Due: none

revert
  .simplecov
Due: none

update
  src/Bash/functions/general.functions.bash
  src/Bash/plugins/rbenv.plugin.bash
  src/Tmux/core/mouse.tmux
  src/Tmux/core/options.tmux
  src/Xsession/.xsession
  src/i3wm/bin/launcher.bash
  src/i3wm/config
  src/i3wm/core/keybindings
  src/i3wm/core/startup
Due: dot-bash

Saving up.
  src/Bash/bash_init.sh
  src/Bash/completions/luarocks.bash
  src/Bash/core/envars.bash
  src/Bash/core/hooks.bash
  src/Bash/functions/general.functions.bash
  src/Bash/lib/prompt.bash
  src/Bash/plugins/extract.plugin.bash
  src/Bash/plugins/golang.plugin.bash
  src/Bash/plugins/grc.plugin.bash
  src/Bash/plugins/ssh.plugin.bash
  src/Bash/plugins/timer.bash
  src/Bash/plugins/todo.plugin.bash
  src/Bash/themes/default.bash
  src/Tmux/core/menu.tmux
  src/i3wm/config
  src/i3wm/core/options
  src/i3wm/core/startup
  src/i3wm/i3bar
  src/i3wm/keybindings
  src/i3wm/modes
  src/i3wm/modes/adjust-volume
  src/i3wm/modes/move-window
  src/i3wm/modes/orientation
  src/i3wm/modes/resize
  src/i3wm/modes/toggle-gaps
  src/i3wm/themes/default.config
  src/picom/picom.conf
  src/polybar/polybar.conf
  src/readline/keybindings
  src/readline/surround
  statusline.back.lua
Due: dot-sh, dot-bash

Fix hooks.bash test.
  test/Bash/hooks.test.bats
Due: none

[bash][prompt] Fix git status showing dirty even if it's not.
  src/Bash/lib/prompt.bash
Due: dot-bash

chore
  src/Bash/lib/prompt.bash
  src/Bash/lib/theme.bash
  src/Bash/lib/util.bash
Due: dot-bash

[chore]
  src/nvim/lua/plugins/nvim-tree.lua
Due: none

Make tmux yanking not exit copy-mode.
  src/Tmux/core/keybindings.tmux
Due: none

Improve readline keybinding on REPL prompts.
  src/readline/inputrc
  src/readline/keybindings
Due: none

[readline] set default mode-string.
  src/readline/inputrc
Due: none

[tmux] Update comment.
  src/Tmux/lib/util.tmux
Due: none

[tmux] enable bell
  src/Tmux/core/options.tmux
Due: none

[vscode] Enable detect indention setting.
  src/vscode/settings.json
Due: none

[readline] remove clutter and fix upcase/downcase word.
  src/readline/completion
  src/readline/inputrc
  src/readline/keybindings
  src/readline/surround
Due: none

[bash][envars] check if command exists first.
  src/Bash/core/envars.bash
Due: dot-bash

[readline] Fix X clipboard selection
  src/Bash/plugins/clipboard.bash
  src/readline/inputrc
Due: dot-bash
