Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, vim-vint

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

vim-vint:
  name: Lint vimscript files
  entry: vint --warning --verbose --enable-neovim
  language: system

[bash][hooks] fix hook
  src/Bash/core/hooks.bash
Due: dot-bash

[vscode] fix Nerd Font not showing in integrated terminal.
  src/vscode/settings.json
Due: none

[vscode] add useful stuff.
  src/vscode/keybindings.json
  src/vscode/settings.json
Due: none

[vscode] Update settings
  src/vscode/settings.json
Due: none

[bash] updates
  src/Bash/lib/prompt.bash
  src/Bash/lib/util.bash
  src/Bash/plugins/fzf.plugin.bash
  src/Bash/plugins/golang.plugin.bash
  src/Bash/plugins/rm.plugin.bash
  src/Bash/plugins/timer.bash
  src/Bash/themes/default.bash
Due: dot-bash

[tmux] add alias (which).
  src/Tmux/core/command-alias.tmux
Due: none

[bash] Re-arange utils.
  utils/setup_utils.sh
Due: dot-sh

[nvim] Add config for 'vimwiki'.
  src/nvim/lua/plugins/init.lua
Due: none

[bash] add config for 'vscode'.
  src/Bash/plugins/vscode.plugin.bash
Due: dot-bash

[nvim] Configure core plugins.
  src/nvim/lua/core/bootstrap.lua
  src/nvim/lua/core/mappings.lua
  src/nvim/lua/plugins/config/Comment.lua
  src/nvim/lua/plugins/config/fzf.lua
  src/nvim/lua/plugins/config/gitsigns.lua
  src/nvim/lua/plugins/config/indent-blankline.lua
  src/nvim/lua/plugins/config/nvim-autopairs.lua
  src/nvim/lua/plugins/config/nvim-surround.lua
  src/nvim/lua/plugins/config/nvim-tree.lua
  src/nvim/lua/plugins/config/nvim-treesitter.lua
  src/nvim/lua/plugins/config/vim-code-dark.lua
  src/nvim/lua/plugins/init.lua
Due: none

[tmux] "reload" is now a command-alias.
  src/Tmux/core/command-alias.tmux
  src/Tmux/core/keybindings.tmux
Due: none

Remove echo
  src/Bash/lib/prompt.bash
Due: dot-bash

Rename __git_ps1() to __my_git_ps1() due to bash-completion conflict
  src/Bash/lib/prompt.bash
  src/Bash/themes/default.bash
Due: dot-bash

Backup
  default.bak.tmux
  docs/README.md
  release/.bashrc.template
  src/Bash/aliases/docker.aliases.bash
  src/Bash/aliases/general.aliases.bash
  src/Bash/bash_init.sh
  src/Bash/core/envars.bash
  src/Bash/core/hooks.bash
  src/Bash/functions/angular.functions.bash
  src/Bash/functions/general.functions.bash
  src/Bash/lib/util.bash
  src/Bash/plugins/fzf.plugin.bash
  src/Bash/plugins/pyenv.plugin.bash
  src/Bash/themes/default.bash
  src/Git/.gitmessage
  src/Tmux/core/hooks.tmux
  src/Tmux/core/menu.tmux
  src/Tmux/themes/default.theme.tmux
  src/Tmux/tmux.conf
  src/nvim/lazy-lock.json
  src/nvim/lua/core/bootstrap.lua
  src/nvim/lua/plugins/config/LuaSnip.lua
  src/nvim/lua/plugins/config/fzf.lua
  src/nvim/lua/plugins/config/gitsigns.lua
  src/nvim/lua/plugins/config/indent-blankline.lua
  src/nvim/lua/plugins/config/nvim-cmp.lua
  src/nvim/lua/plugins/config/nvim-lsp-file-operations.lua
  src/nvim/lua/plugins/config/nvim-lspconfig.lua
  src/nvim/lua/plugins/config/nvim-tree.lua
  src/nvim/lua/plugins/config/nvim-treesitter.lua
  src/nvim/lua/plugins/init.lua
  src/nvim/lua/profiles/init.lua
  src/nvim/lua/profiles/user.lua
  src/nvim/lua/utils.lua
  src/nvim/spell/en.utf-8.add
  src/nvim/spell/en.utf-8.add.spl
  src/readline/surround
  src/userscripts/studocu.com.js
  src/vscode/settings.json
Due: dot-sh, dot-bash

Save
  command-alias.back.tmux
  src/Bash/aliases/git.aliases.bash
  src/Bash/core/envars.bash
  src/Bash/themes/default.bash
  src/Tmux/core/command-alias.tmux
  src/Tmux/core/menu.tmux
  src/Tmux/lib/icons.tmux
  src/Tmux/themes/default.theme.tmux
Due: dot-bash

[bash] Force UTF-8 local for all programs.
  src/Bash/core/envars.bash
Due: dot-bash

fix(envars.bash): Correct typo in HISTSIZE
  src/Bash/core/envars.bash
Due: dot-bash

chore(git) Update commit message template
  src/Git/.gitmessage
Due: none

fix(nvm.plugin.bash) Fix NVM_DIR not being set
  src/Bash/plugins/nvm.plugin.bash
Due: dot-bash

update
  \
  default.them.back.tmux
  gum
  src/Bash/aliases/git.aliases.bash
  src/Bash/core/completion.bash
  src/Bash/core/envars.bash
  src/Bash/core/hooks.bash
  src/Bash/core/utils.bash
  src/Bash/functions/general.functions.bash
  src/Bash/lib/prompt.bash
  src/Bash/plugins/timer.bash
  src/Bash/test.gum
  src/Bash/themes/default.bash
  src/Tmux/core/command-alias.tmux
  src/Tmux/core/hooks.tmux
  src/Tmux/core/keybindings.tmux
  src/Tmux/core/menu.tmux
  src/Tmux/core/options.tmux
  src/Tmux/lib/icons.tmux
  src/Tmux/lib/util.tmux
  src/nvim/lazy-lock.json
  src/readline/inputrc.template
  src/vscode/settings.json
  udo apt-get install parallel
Due: dot-bash

Remove github directory from ignored dirs
  src/Bash/plugins/fzf.plugin.bash
Due: dot-bash

update
  src/Bash/aliases/git.aliases.bash
  src/Bash/core/completion.bash
  src/Bash/core/envars.bash
  src/Git/.gitconfig.template
  src/nvim/lazy-lock.json
Due: dot-bash

refactor(lazy): move after install message into bootstrap
  src/nvim/lua/core/bootstrap.lua
  src/nvim/lua/profiles/init.lua
Due: none

refactor(lsp): update deprecated lsp config
  src/nvim/lua/plugins/config/nvim-cmp.lua
  src/nvim/lua/plugins/config/nvim-lspconfig.lua
  src/nvim/lua/plugins/init.lua
Due: none

refactor(nvim-cmp): Fix completion border not showing
  src/nvim/lua/plugins/config/LuaSnip.lua
  src/nvim/lua/plugins/config/nvim-cmp.lua
Due: none

refactor(bootstrap.lua): add highlight for nvim-cmp
  src/nvim/lua/core/bootstrap.lua
Due: none

refactor(nvim-lspconfig): enable lsp
  src/nvim/lua/plugins/config/nvim-lspconfig.lua
Due: none

update
  src/nvim/lua/plugins/config/LuaSnip.lua
  src/nvim/lua/plugins/config/nvim-lspconfig.lua
Due: none

add useful commands in menu
  src/Tmux/core/menu.tmux
Due: none

disable monitor-activy and visual-activity
  src/Tmux/core/options.tmux
Due: none

refactor(nvim-cmp). enable ghost_text
  src/nvim/lua/plugins/config/nvim-cmp.lua
Due: none

update
  src/Bash/plugins/fzf.plugin.bash
  src/nvim/lua/core/bootstrap.lua
  src/nvim/lua/plugins/config/nvim-lspconfig.lua
Due: dot-bash

chore(deps): Update neovimm plugins
  src/nvim/lazy-lock.json
Due: none

update
  src/Tmux/core/command-alias.tmux
  src/nvim/lazy-lock.json
  src/nvim/lua/plugins/config/obsidian.nvim.lua
  src/nvim/lua/plugins/init.lua
Due: none

update
  docs/img/Gnu-bash-logo.svg.png
  docs/img/dotfiles-logo.png
  src/Tmux/core/command-alias.tmux
  src/Tmux/core/menu.tmux
  src/Tmux/themes/default.theme.tmux
Due: none

refactor(default.theme.tmux): Change the default status-position to top
  src/Tmux/themes/default.theme.tmux
Due: none

refactor(comment): suggest an idea for history tracking
  src/Bash/core/envars.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: Tmux/lib/util.sh
  dot-bash: any of: \.bash$, but not: Bash/plugin/composure.bash
  vim-vint: any of: \.vim$
