Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, vim-vint

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

vim-vint:
  name: Lint vimscript files
  entry: vint --warning --verbose --enable-neovim
  language: system

refactor(menu): Change the default suggestion when renaming window
  src/Tmux/core/menu.tmux
Due: none

update
  :w
  src/Bash/aliases/general.aliases.bash
  src/Bash/bash_init.sh
  src/Bash/core/options-core.bash
  src/Bash/core/options-init.bash
  src/Bash/plugins/fzf.plugin.bash
  src/Bash/plugins/gum.plugin.bash
  src/Tmux/core/menu.tmux
  src/dunst/dunstrc
  src/i3wm/bin/fzf-menu/launcher.bash
  src/i3wm/bin/fzf-menu/utils.bash
  src/i3wm/bin/launch_polybar.bash
  src/i3wm/bin/launcher.bash
  src/i3wm/bin/notes-launcher.bash
  src/i3wm/bin/orientation.bash
  src/i3wm/bin/window_resizer.bash
  src/i3wm/common
  src/i3wm/config
  src/i3wm/modes
  src/nvim/lua/plugins/config/nvim-lspconfig.lua
  src/polybar/bars/example
  src/polybar/bin/scratchpad.bash
  src/polybar/modules/battery
  src/polybar/modules/cpu
  src/polybar/modules/date
  src/polybar/modules/i3
  src/polybar/modules/orientation
  src/polybar/modules/pulseaudio
  src/polybar/modules/scratchpad
  src/polybar/modules/wlan
  src/polybar/polybar.conf
  src/polybar/readme.md
  src/rofi/config.rasi
Due: dot-sh, dot-bash

update
  src/i3wm/config
  src/i3wm/modes
Due: none

update
  menu.tmux
  src/Tmux/core/menu/menu-options.tmux
  src/Tmux/core/menu/menu-tabs.tmux
  src/Tmux/core/menu/menu.tmux
  src/Tmux/core/options.tmux
  src/Tmux/themes/default.theme.tmux
  src/Tmux/tmux.conf
  src/i3wm/bin/orientation.bash
  src/i3wm/config
  src/i3wm/keybindings
  src/nvim/lua/core/bootstrap.lua
  src/nvim/lua/profiles/init.lua
  src/polybar/bars/example
  src/polybar/colors
  src/polybar/modules/backlight
  src/polybar/modules/date
  src/polybar/modules/i3
  src/polybar/modules/powermenu
  src/polybar/modules/swap
  src/polybar/modules/temperature
  src/polybar/modules/wlan
  src/polybar/modules/zram
  src/sxhkd/sxhkdrc
Due: dot-bash

cleanup
  :w
  \
  command-alias.back.tmux
  configure
  default.bak.tmux
  default.bash.back
  default.them.back.tmux
  gum
  install_wordpress.sh
  lsp.back.lua
  menu.tmux
  polybar.back.conf
  src/Bash/aliases/docker.aliases.bash
  src/Git/bin/git-loglive
  src/nvim/lazy-lock.json
  src/vscode/settings.json
  theme.bash.back
  udo apt-get install parallel
Due: dot-sh, dot-bash

hook direnv only if it exists
  src/Bash/plugins/direnv.plugin.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: Tmux/lib/util.sh
  dot-bash: any of: \.bash$, but not: Bash/plugin/composure.bash
  vim-vint: any of: \.vim$
