Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 1.18.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
      - id: shfmt
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against dotfiles requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against dotfiles requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

Remove useless test case.
  test/Bash/plugins/fzf-plugin.test.bats
Due: none

Add todo alias.
  Bash/aliases/general.aliases.bash
Due: dot-bash

Add fixme alias.
  Bash/aliases/general.aliases.bash
Due: dot-bash

Move files to core instead.
  Bash/core/autopairs
  Bash/core/hooks
Due: none

Move surround inside keybindings.
  Bash/core/keybindings
Due: none

Cleanup plugins.
  Bash/plugins/nvm.plugin.bash
Due: dot-bash

Rename hooks path.
  test/Bash/hooks.test.bats
Due: none

Move theme file to it's own directory.
  Bash/themes/default/default.theme.bash
Due: dot-bash

Add basic colors.
  Bash/core/lscolor
Due: none

Fix themeing on bash.
  .pre-commit-config.yaml
  Bash/aliases/general.aliases.bash
  Bash/bash_init.sh
  Bash/core/autopairs
  Bash/core/hooks
  Bash/core/lscolor
  Bash/core/prompt
  Bash/themes/default/default.theme.bash
  Bash/themes/powerline.theme.bash
  hooks/dot-bash.sh
Due: dot-sh, dot-bash

Add *.bash extension for bash script.
  Bash/core/autopairs.bash
  Bash/core/envars.bash
  Bash/core/hooks.bash
  Bash/core/keybindings.bash
  Bash/core/options.bash
Due: dot-bash

Checkout before I lose anything.
  .gitignore
  Bash/bash_init.sh
  Bash/core/hooks.bash
  Bash/template/bash_local.template.bash
  Bash/template/bash_profile.template.bash
  Git/.gitconfig
  install.sh
  test/Bash/hooks.test.bats
  test/Bash/plugins/fzf-plugin.test.bats
  test/Bash/plugins/nvm-plugin.test.bats
  test/Bash/plugins/pyenv-plugin.test.bats
  test/run
Due: dot-sh, dot-bash

Just checking my work.
  Bash/.bashrc.template
  Bash/core/appearance
  Bash/core/hooks_init.bash
  Bash/lib/apidoc.bash
  Bash/lib/helpers.bash
  Bash/lib/hooks.bash
  Bash/lib/logger.bash
  Bash/lib/theme.bash
  Bash/plugins/command_not_found.plugin.bash
  Bash/themes/default/default.theme.bash
  Bash/themes/default/prompt.bash
  Git/.gitconfig.template
  Git/bin/git-loglive
  Tmux/options.tmux
  test/Bash/fzf-plugin.test.bats
  test/Bash/nvm-plugin.test.bats
  test/Bash/prompt.test.bats
  test/Bash/pyenv-plugin.test.bats
  vifm/codedark.vifm
Due: dot-bash

Add fdfind on list of available fzf commands.
  Bash/plugins/fzf.plugin.bash
Due: dot-bash

Remove fzf.vim colors so default colors will now depend on FZF_DEFAULT_OPTS if set.
  nvim/init.vim
Due: none

Remove conflicting keys.
  Bash/plugins/fzf.plugin.bash
Due: dot-bash

Fix prompt wrapping.
  Bash/themes/default/prompt.bash
Due: dot-bash

Remove init files and rename files.
  Bash/core/appearance
  Bash/core/hooks.bash
  Bash/core/hooks_init.bash
  Bash/lib/hooks.bash
  Bash/themes/default.theme.bash
  Bash/themes/default/default.theme.bash
  Bash/themes/default/prompt.bash
Due: dot-bash

Refactor.
  Bash/lib/theme.bash
  test/Bash/hooks.test.bats
Due: dot-bash

disable initializing inside test suite.
  Bash/core/hooks.bash
Due: dot-bash

Checking in my progress.
  Bash/bash_init.sh
  Bash/core/autopairs.bash
  Bash/core/keybindings.bash
  Bash/core/options.bash
  Bash/lib/theme.bash
  Bash/plugins/fzf.plugin.bash
  Bash/themes/default.theme.bash
  readline/inputrc
  readline/prompt
  test/Bash/fzf-plugin.test.bats
  test/Bash/lib.test.bats
  test/Bash/options.test.bats
  test/Bash/prompt.test.bats
  test/test_helper.bash
Due: dot-sh, dot-bash

Checking.
  Bash/files_without_test.txt
  Bash/functions/general.functions.bash
  test/Bash/autopairs-core.test.bats
  test/Bash/envars-core.test.bats
  test/Bash/util.test.bats
Due: dot-bash

CI: disable vim CI action.
  .github/workflows/main.yml
Due: none

saving.
  Bash/bash_init.sh
  test/Bash/envars-core.test.bats
Due: dot-sh

save
  Bash/plugins/fzf.plugin.bash
  test/Bash/fzf-plugin.test.bats
Due: dot-bash

Add golang plugin.
  Bash/plugins/golang.plugin.bash
Due: dot-bash

Github hosted runners dropped support for ubuntu-16-04.
  .github/workflows/main.yml
Due: none

update golang version to 1.16
  .github/workflows/main.yml
Due: none

Checking in.
  Bash/core/envars.bash
  Bash/core/hooks.bash
  Bash/core/keybindings.bash
  Bash/themes/default.theme.bash
  test/test_helper.bash
Due: dot-bash

checkin.
  Bash/core/autopairs.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

autopairs.
  Bash/core/autopairs.bash
Due: dot-bash

Add test case
  Bash/core/autopairs.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

remove hooks from test coverage.
  .codecov.yml
Due: none

add filter for hooks in simplecov.
  .simplecov
Due: none

test for general aliases.
  Bash/files_without_test.txt
  Bash/functions/general.functions.bash
Due: dot-bash

add test.
  Bash/files_without_test.txt
  test/Bash/general-aliases.test.bats
Due: none

general function test.
  Bash/functions/general.functions.bash
  test/Bash/general-functions.test.bats
Due: dot-bash

theme test file
  test/Bash/theme-lib.test.bats
Due: none

skip a test
  test/Bash/general-functions.test.bats
Due: none
