Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, vim-vint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 1.18.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
        exclude: ".bats$"

  - repo: local
    hooks:
      - id: dot-sh
        exclude: Tmux/lib/util.sh
        name: Check .sh files against dotfiles requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]

      - id: dot-bash
        name: Check .bash files against dotfiles requirements
        exclude: Bash/plugin/composure.bash
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

      - id: vim-vint
        name: Lint vimscript files
        entry: vint --warning --verbose --enable-neovim
        language: system
        files: "\\.vim$"
        types: [file]

Tidy
  src/Bash/bash_init.sh
Due: dot-sh

[tmux] Refactor keybindings.
  src/Tmux/core/keybindings.tmux
Due: none

[bash] [T]ODO: Make this as a plugin.
  src/Bash/plugins/annotation.bash
Due: dot-bash

[tmux] Tidy options.
  src/Tmux/core/options.tmux
Due: none

[tmux] Tidy keybindings
  src/Tmux/core/keybindings.tmux
Due: none

Fix variable typo
  src/Bash/plugins/nvm.plugin.bash
Due: dot-bash

Save my work
  command-alias.back.tmux
  deps/.gitkeep
  src/Bash/aliases/dotbash.aliases.bash
  src/Bash/aliases/git.aliases.bash
  src/Bash/bash_init.sh
  src/Bash/completions/aliases.completion.bash
  src/Bash/completions/fzf.completion.bash
  src/Bash/completions/gh
  src/Bash/completions/tmux
  src/Bash/core/hooks.bash
  src/Bash/core/keybindings.bash
  src/Bash/functions/general.functions.bash
  src/Bash/lib/apidoc.bash
  src/Bash/lib/prompt.bash
  src/Bash/lib/theme.bash
  src/Bash/lib/util.bash
  src/Bash/plugins/fzf.plugin.bash
  src/Bash/plugins/pyenv.plugin.bash
  src/Bash/prompt.bash
  src/Bash/themes/default.bash
  src/Tmux/core/hooks.tmux
  src/Tmux/lib/icons.tmux
  src/Tmux/lib/util.tmux
  src/Tmux/themes/back.thtme
  src/Tmux/themes/default.theme.tmux
  src/Tmux/themes/nord.theme.tmux
  src/Tmux/tmux.conf
  src/neomutt/gmail.com.fredjohn159
  src/nvim/ftplugin/gitcommit.lua
  src/nvim/ftplugin/man.lua
  src/nvim/init.lua
  src/nvim/lua/plugins/nvim-tree.lua
  src/nvim/lua/user/mkdir.lua
  src/nvim/lua/user/options.lua
  src/readline/inputrc
  src/readline/surround
  test/run
Due: dot-sh, dot-bash

[Bash][prompt] update git status
  src/Bash/lib/prompt.bash
Due: dot-bash

[Nvim] update 'update_capabilities' into 'default_capabilities'
  src/nvim/lua/lsp/init.lua
Due: none

[Nvim] only load localrc.lua if it exists
  src/nvim/init.lua
Due: none

[Bash] Remove bash_completion
  src/Bash/bash_init.sh
Due: dot-sh

[Bash][plugin] add 'rm' command wrapper
  src/Bash/plugins/rm.plugin.bash
Due: dot-bash

[Bash] Move keybindings to inputrc
  src/Bash/core/keybindings.bash
  src/readline/completion
  src/readline/inputrc
  src/readline/keybindings
  src/readline/surround
Due: dot-bash

[Bash] Remove keybindings.
  src/Bash/core/keybindings.bash
  src/readline/keybindings
Due: dot-bash

fix readline cursor not changing shape inside tmux
  src/readline/keybindings
Due: none

[tmux-util] show 'PM' only when clock-mode-style value is 12
  src/Tmux/lib/util.tmux
Due: none

[Tmux][keybindings] Remove 'sync-on' message
  src/Tmux/core/keybindings.tmux
Due: none

[Tmux][keybindings] yank only when there's selection
  src/Tmux/core/keybindings.tmux
Due: none

[Tmux] update.
  src/Tmux/core/command-alias.tmux
  src/Tmux/core/keybindings.tmux
  src/Tmux/lib/icons.tmux
  src/Tmux/lib/util.tmux
  src/Tmux/themes/default.theme.tmux
  src/Tmux/tmux.conf
Due: none

[Bash] fix color on SSH
  src/Bash/lib/theme.bash
Due: dot-bash

[Bash][plugins] Add function for extracting archives
  src/Bash/functions/general.functions.bash
Due: dot-bash

[Bash][plugins] add youtube-dl plugin
  src/Bash/plugins/youtube-dl.bash
Due: dot-bash

fix indentation
  src/Bash/functions/general.functions.bash
Due: dot-bash

[readline] Tidy up
  src/readline/surround
Due: none

[Readline] update surround keybindings
  src/readline/inputrc
  src/readline/keybindings
  src/readline/surround
Due: none

[Vifm] update
  src/vifm/colors/Default.vifm
  src/vifm/colors/codedark.vifm
  src/vifm/colors/theme.vifm
  src/vifm/keybindings.vifm
  src/vifm/scripts/README
  src/vifm/vifm-help.txt
  src/vifm/vifminfo.json
  src/vifm/vifmrc
Due: none

[Bash][alias] add today's date
  src/Bash/aliases/general.aliases.bash
Due: dot-bash

[Bash][completion] remove unnecessary
  src/Bash/completions/aliases.completion.bash
Due: dot-bash

[Bash][plugin] lazyload nvm
  src/Bash/completions/nvm.completion.bash
  src/Bash/plugins/nvm.plugin.bash
Due: dot-bash

(chore) stick to 'cleanup' instead of '__cleanup'
  src/Bash/plugins/fzf.plugin.bash
  test/Bash/nvm-plugin.test.bats
Due: dot-bash

(chore) unset common functions in one place
  src/Bash/bash_init.sh
  src/Bash/lib/apidoc.bash
  src/Bash/plugins/android_dev.plugin.bash
  src/Bash/plugins/fzf.plugin.bash
  src/Bash/plugins/pyenv.plugin.bash
  src/Bash/themes/default.bash
Due: dot-sh, dot-bash

[Bash][plugin] sane clipboard plugin
  src/Bash/plugins/clipboard.bash
Due: dot-bash

[Bash][plugin] Update man
  src/Bash/plugins/man.plugin.bash
Due: dot-bash

Remove unnecessary
  src/Bash/lib/logger.bash
Due: dot-bash

[test] fix test, again.
  test/Bash/autopairs-core.test.bats
  test/Bash/envars-core.test.bats
  test/Bash/fzf-plugin.test.bats
  test/Bash/general-aliases.test.bats
  test/Bash/git-plugin.test.bats
  test/Bash/hooks.test.bats
  test/Bash/install.bats
  test/Bash/nvm-plugin.test.bats
  test/Bash/options.test.bats
  test/Bash/theme-lib.test.bats
  test/Bash/util.test.bats
  test/fixtures/bash_script_file_1.bash
  test/run
  test/test_helper.bash
Due: dot-bash

[Bash][Plugin] exclude binding when inside test suite
  src/Bash/core/autopairs.bash
Due: dot-bash

[test] locate where is the source files
  test/run
Due: none

test which from test suite is failing
  test/run
Due: none

[test]
  test/Bash/fzf-plugin.test.bats
  test/run
Due: none
