Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 1.18.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
      - id: shfmt
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against dotfiles requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against dotfiles requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

Shorten variable.
  Bash/template/bash_profile.template.bash
Due: dot-bash

Bash. Add some envars functions as a plugin.
  Bash/bash_init.sh
  Bash/core/envars
  Bash/plugins/android_dev.plugin.bash
  Bash/plugins/fzf.plugin.bash
Due: dot-sh, dot-bash

Bash: Update options.
  Bash/core/options
Due: none

Bash: Add prompt theme into _pre_command.
  Bash/core/prompt
Due: none

Bash: Fix test.
  Bash/core/options
  test/Bash/options.test.bats
Due: none

Bash prompt: Fix unbound variable $status.
  Bash/core/prompt
Due: none

Remove mailwarn to pass CI test.
  test/Bash/options.test.bats
Due: none

Bash refactor (#20)
  Bash/bash.bashrc
  Bash/bash_init.sh
  Bash/components/envars
  Bash/components/options
  Bash/components/prompt
  Bash/core/colors
  Bash/core/envars
  Bash/core/functions
  Bash/core/options
  Bash/core/prompt
  Bash/lib/util.bash
  Bash/plugins/android_dev.plugin.bash
  Bash/plugins/fzf.plugin.bash
  Bash/profile
  Bash/template/bash_local.template.bash
  Bash/template/bash_profile.template.bash
  Bash/themes/default.theme.bash
  Bash/themes/powerline.theme.bash
  hooks/dot-bash.sh
  test/Bash/lib.test.bats
  test/Bash/options.test.bats
Due: dot-sh, dot-bash

Update LS_COLORS.
  Bash/core/colors
Due: none

Fix tmux theme only working when current dir is in dotfiles.
  Tmux/tmux.conf
Due: none

Remove XDG function as it was already set by default.
  Bash/core/envars
Due: none

Add Bash plugins.
  Bash/plugins/less.plugin.bash
  Bash/plugins/man.plugin.bash
Due: dot-bash

Cleanup Bash options.
  Bash/core/options
Due: none

Cleanup Bash envars.
  Bash/core/envars
Due: none

Fix prompt_command
  Bash/core/envars
  Bash/core/prompt
Due: none

Add term as bash plugin.
  Bash/plugins/term.plugin.bash
Due: dot-bash

Bash: Add lang support.
  Bash/core/envars
Due: none

Remove tmux init file.
  utils/init.tmux.sh
Due: dot-sh

Add bash plugins.
  Bash/plugins/less.plugin.bash
  Bash/plugins/nvm.plugin.bash
Due: dot-bash

Update bash fzf plugin.
  Bash/aliases/general.aliases.bash
  Bash/plugins/fzf.plugin.bash
Due: dot-bash

Revert 696c6ad as it was affecting terminal display.
  Bash/core/envars
Due: none

Bash: add bash hooks.
  Bash/lib/hooks.bash
  test/Bash/hooks.test.bats
Due: dot-bash

Tmux: add init file.
  Tmux/init.tmux.sh
Due: dot-sh

Bash: Remove colors.
  Bash/core/colors
Due: none

Bash: Rewrite bash prompt.
  Bash/core/prompt
Due: none

Bash: add support for sourcing multiple lib files.
  Bash/bash_init.sh
Due: dot-sh

Bash-hooks: expand to null if unset.
  Bash/lib/hooks.bash
Due: dot-bash

Fix parameter and expansion and some pre-commit warnings.
  Bash/lib/util.bash
Due: dot-bash

Bash: Trim profile template.
  Bash/template/bash_profile.template.bash
Due: dot-bash

Refactor install script.
  install.sh
Due: dot-sh

Bash: Refactor default theme.
  Bash/themes/default.theme.bash
Due: dot-bash

Remove functions file.
  Bash/core/functions
Due: none

Bash refactor (#21)
  Bash/aliases/general.aliases.bash
  Bash/bash_init.sh
  Bash/core/colors
  Bash/core/envars
  Bash/core/functions
  Bash/core/options
  Bash/core/prompt
  Bash/lib/hooks.bash
  Bash/lib/util.bash
  Bash/plugins/fzf.plugin.bash
  Bash/plugins/less.plugin.bash
  Bash/plugins/man.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/term.plugin.bash
  Bash/template/bash_profile.template.bash
  Bash/themes/default.theme.bash
  Tmux/init.tmux.sh
  Tmux/tmux.conf
  install.sh
  test/Bash/hooks.test.bats
Due: dot-sh, dot-bash

Revert "Bash refactor (#21)"
  Bash/aliases/general.aliases.bash
  Bash/bash_init.sh
  Bash/core/colors
  Bash/core/envars
  Bash/core/functions
  Bash/core/options
  Bash/core/prompt
  Bash/lib/hooks.bash
  Bash/lib/util.bash
  Bash/plugins/fzf.plugin.bash
  Bash/plugins/less.plugin.bash
  Bash/plugins/man.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/term.plugin.bash
  Bash/template/bash_profile.template.bash
  Bash/themes/default.theme.bash
  Tmux/tmux.conf
  install.sh
  test/Bash/hooks.test.bats
  utils/init.tmux.sh
Due: dot-sh, dot-bash

Revert "Bash refactor (#21)" (#22)
  Bash/aliases/general.aliases.bash
  Bash/bash_init.sh
  Bash/core/colors
  Bash/core/envars
  Bash/core/functions
  Bash/core/options
  Bash/core/prompt
  Bash/lib/hooks.bash
  Bash/lib/util.bash
  Bash/plugins/fzf.plugin.bash
  Bash/plugins/less.plugin.bash
  Bash/plugins/man.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/term.plugin.bash
  Bash/template/bash_profile.template.bash
  Bash/themes/default.theme.bash
  Tmux/tmux.conf
  install.sh
  test/Bash/hooks.test.bats
  utils/init.tmux.sh
Due: dot-sh, dot-bash

Bash refactor remerged failed (#23)
  Bash/aliases/general.aliases.bash
  Bash/bash_init.sh
  Bash/core/colors
  Bash/core/envars
  Bash/core/functions
  Bash/core/options
  Bash/core/prompt
  Bash/lib/hooks.bash
  Bash/lib/util.bash
  Bash/plugins/fzf.plugin.bash
  Bash/plugins/less.plugin.bash
  Bash/plugins/man.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/term.plugin.bash
  Bash/template/bash_profile.template.bash
  Bash/themes/default.theme.bash
  Tmux/init.tmux.sh
  install.sh
  test/Bash/hooks.test.bats
Due: dot-sh, dot-bash

Tests: Remove tmux directory.
  test/Tmux/tmux.test.bats
Due: none

Bash: add parallel jobs for faster test execution.
  test/run
Due: none

Bash-Lib: Add checking if a command exists.
  Bash/lib/util.bash
  test/Bash/lib.test.bats
Due: dot-bash

Bash: Refactor fzf plugin.
  Bash/plugins/fzf.plugin.bash
  test/Bash/fzf.test.bats
Due: dot-bash
