Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash, vim-vint

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

vim-vint:
  name: Lint vimscript files
  entry: vint --warning --verbose --enable-neovim
  language: system

[nvim] Update.
  nvim/ftplugin/lua.lua
  nvim/init.lua
  nvim/lua/lsp/config/efm/init.lua
  nvim/lua/lsp/config/jsonls.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/plugins/nvim-cmp.lua
  nvim/lua/plugins/nvim-tree.lua
  nvim/lua/plugins/treesitter.lua
  nvim/lua/user/highlight.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/note.lua
  nvim/lua/user/packages.lua
  nvim/lua/user/utils.lua
Due: none

[vscode] updates.
  vscode/install.sh
  vscode/keybindings.json
  vscode/settings.json
Due: dot-sh

[vscode] retry failing CI.
  vscode/keybindings.json
Due: none

[retry CI]
  vscode/keybindings.json
Due: none

[EOF]
  nvim/ftplugin/lua.lua
Due: none

[hotfix] E117: Unknown function: netrw#GX
  nvim/lua/plugins/nvim-tree.lua
Due: none

[nvim] show git hidden files.
  nvim/lua/plugins/nvim-tree.lua
Due: none

[nvim] add localrc for nvim.
  nvim/init.lua
Due: none

[update]
  .gitignore
  Bash/bash_init.sh
  nvim/init.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/plugins/indent-blankline.lua
  nvim/lua/plugins/nvim-tree.lua
  nvim/lua/user/highlight.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/packages.lua
  nvim/lua/user/utils.lua
  vscode/settings.json
Due: dot-sh

[userscripts] add userful userscripts.
  userscripts/github-clone-repo.js
  userscripts/github-file-list-beautifier.js
  userscripts/readme.md
  userscripts/util.js
Due: none

[userscript] updateURL
  userscripts/util.js
Due: none

update userscripts/
  userscripts/util.js
Due: none

revert.
  userscripts/util.js
Due: none

[nvim] add sensible keybindings.
  nvim/lua/user/keybindings.lua
Due: none

[bash/plugin] Remove --tac option.
  Bash/plugins/fzf.plugin.bash
Due: dot-bash

[nvim] update.
  nvim/UltiSnips/lua.snippets
  nvim/cmp-spell/after/plugin/cmp-spell.lua
  nvim/cmp-spell/lua/cmp-spell/init.lua
  nvim/filetype.vim
  nvim/ftplugin/lua.lua
  nvim/lua/lsp/config/efm/init.lua
  nvim/lua/lsp/config/sumneko_lua.lua
  nvim/lua/lsp/handlers.lua
  nvim/lua/lsp/init.lua
  nvim/lua/lsp/lsp_installer.lua
  nvim/lua/plugins/nvim-cmp.lua
  nvim/lua/plugins/nvim-tree.lua
  nvim/lua/plugins/ultisnips.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/maputils.lua
  nvim/lua/user/packages.lua
Due: vim-vint

[nvim] Add custom statusline
  nvim/lua/user/statusline.lua
Due: none

[dotfiles] update.
  Bash/core/hooks.bash
  Bash/plugins/note.plugin.bash
  Bash/plugins/nvm.plugin.bash
  Bash/plugins/vscode.plugin.bash
  Bash/prompt.bash
  Bash/themes/ps1/default.ps1.bash
  Bash/themes/ps1/dir/file
  Chrome/bookmarks_7_25_22.html
  Tmux/menubars/deleteme
  Tmux/tmux.conf
  nvim/init.lua
  nvim/lua/core/utils.lua
  nvim/lua/lsp/config/efm/init.lua
  nvim/lua/lsp/config/efm/shellcheck.lua
  nvim/lua/lsp/config/null-ls/init.lua
  nvim/lua/lsp/init.lua
  nvim/lua/plugins/fzf.lua
  nvim/lua/plugins/git-gutter.lua
  nvim/lua/plugins/gitsigns.lua
  nvim/lua/plugins/scrollbar.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/note.lua
  nvim/lua/user/packages.lua
  nvim/lua/user/scroll.lua
  nvim/lua/user/statusline.lua
  test/run
  userscripts/github-clone-repo.js
  userscripts/github.com.js
  userscripts/styles/snackbar.css
  userscripts/util.js
  userscripts/youtube.com.js
  vscode/settings.json
Due: dot-bash

[update]
  Bash/aliases/git.aliases.bash
  Bash/core/git.bash
  Bash/lib/apidoc.bash
  Bash/lib/theme.bash
  Bash/lib/util.bash
  Bash/plugins/bash.plugin.bash
  Bash/plugins/fzf.plugin.bash
  Bash/themes/default.theme.bash
  Git/.gitalias.bash
  Git/.gitconfig.template
  Tmux/core/keybindings.tmux
  Tmux/core/options.tmux
  Tmux/lib/fontawesome.tmux
  Tmux/lib/statusbar.tmux
  Tmux/themes/default.theme.tmux
  nvim/init.lua
  nvim/lua/lsp/init.lua
  nvim/lua/plugins/fzf.lua
  nvim/lua/user/packages.lua
  test/Bash/git-plugin.test.bats
  test/run
Due: dot-bash

[bash] Include submodule to prompt's git status.
  Bash/themes/default.theme.bash
Due: dot-bash

[nvim] Refactor statusline autocommand to use vim.api
  nvim/lua/user/statusline.lua
Due: none

[nvim] Add current git branch in statusline.
  nvim/lua/user/statusline.lua
Due: none

saving progress.
  Bash/functions/general.functions.bash
  Tmux/core/command-alias.tmux
  nvim/init.lua
  nvim/lua/lsp/init.lua
  nvim/lua/plugins/lualine.lua
  nvim/lua/plugins/nvim-tree.lua
  nvim/lua/plugins/nvim-web-devicons.lua
  nvim/lua/plugins/scrollbar.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/options.lua
  nvim/lua/user/packages.lua
  nvim/lua/user/statusline.lua
  nvim/lua/user/tabline.lua
  userscripts/youtube.com.js
Due: dot-bash

[tmux] Fix terminal not raising new window after reloading tmux.
  Tmux/core/keybindings.tmux
Due: none

[Bash] add general aliases.
  Bash/aliases/general.aliases.bash
Due: dot-bash

[Bash] remove prompt newline and instead it should be handled by the core hook.
  Bash/themes/default.theme.bash
Due: dot-bash

commit changes.
  Bash/bash_init.sh
  Bash/lib/util.bash
  Bash/plugins/git.plugin.bash
  Git/.gitalias.bash
  Tmux/core/keybindings.tmux
  Tmux/core/mouse.tmux
  Tmux/core/options.tmux
  Tmux/lib/popup.tmux
  Tmux/lib/util.tmux
  Tmux/menubars/main-menu/context.menubar.tmux
  Tmux/reset_keybindings.tmux
  Tmux/themes/default.theme.tmux
  Tmux/tmux.conf
  lsp.back.lua
  nvim/lua/lsp/init.lua
  nvim/lua/user/keybindings.lua
  nvim/lua/user/packages.lua
  nvim/plugin/fzf.vim
  test/Bash/git-plugin.test.bats
Due: dot-sh, dot-bash, vim-vint

cleanup.
  src/Bash/plugins/git.bash
  src/Bash/plugins/git.plugin.bash
  src/Bash/plugins/nvm.plugin.bash
Due: dot-bash

[bash] add git alias.
  src/Bash/plugins/git.plugin.bash
  src/Git/.gitalias.bash
Due: dot-bash

[bash] refactor git.plugin.bash
  src/Bash/plugins/git.plugin.bash
Due: dot-bash

[git] Rewrite .gitmessage
  src/Git/.gitmessage
Due: none

Bash(git alias) disable paging.
  src/Git/.gitalias.bash
Due: dot-bash

Update
  src/Bash/.bashrc.template
  src/Bash/aliases/dotbash.aliases.bash
  src/Bash/aliases/general.aliases.bash
  src/Bash/bash_init.sh
  src/Bash/core/autopairs.bash
  src/Bash/core/keybindings.bash
  src/Bash/lib/util.bash
  src/Bash/plugins/bash.plugin.bash
  src/Bash/plugins/git.plugin.bash
  src/Bash/plugins/vscode.plugin.bash
  src/Bash/themes/default.theme.bash
  src/Bash/themes/ps1/default.ps1.bash
  src/Tig/.tigrc
  src/Tig/keybindings
  src/Tig/theme.tigrc
  src/Tmux/core/command-alias.tmux
  src/Tmux/core/keybindings.tmux
  src/Tmux/core/mouse.tmux
  src/Tmux/lib/fontawesome.tmux
  src/Tmux/lib/icons.tmux
  src/Tmux/lib/popup.tmux
  src/Tmux/lib/process_icons.tmux
  src/Tmux/lib/statusbar.tmux
  src/Tmux/lib/util.tmux
  src/Tmux/menubars/choose-tree.tmux
  src/Tmux/menubars/config.tmux
  src/Tmux/menubars/context.tmux
  src/Tmux/menubars/menu.tmux
  src/Tmux/themes/default.theme.tmux
  src/Tmux/tmux.conf
  src/nvim/init.lua
  src/readline/inputrc
Due: dot-sh, dot-bash

[bash] Move pyenv completion to it's own file.
  src/Bash/completions/pyenv.completion.bash
  src/Bash/plugins/pyenv.plugin.bash
Due: dot-bash

[bash] source bash_completion if available.
  src/Bash/bash_init.sh
Due: dot-sh

[bash] Tidy options.bash
  src/Bash/core/options.bash
Due: dot-bash

[bash] add mailbox name query test for neomutt.
  src/Bash/functions/general.functions.bash
Due: dot-bash

[bash] Make bash tab completion easier.
  src/Bash/core/keybindings.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$, but not: Tmux/lib/util.sh
  dot-bash: any of: \.bash$, but not: Bash/plugin/composure.bash
  vim-vint: any of: \.vim$
