Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 1.18.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.4
    hooks:
      - id: git-check  # Configure in .gitattributes
      - id: shellcheck
      - id: shfmt
  - repo: local
    hooks:
      - id: dot-sh
        name: Check .sh files against dotfiles requirements
        entry: ./hooks/dot-sh.sh
        language: system
        files: "\\.sh$"
        types: [file]
      - id: dot-bash
        name: Check .bash files against dotfiles requirements
        exclude: "test/test_helper.bash"
        entry: ./hooks/dot-bash.sh
        language: system
        files: "\\.bash$"
        types: [file]

update general function.
  test/Bash/general-functions.test.bats
Due: none

update.
  Bash/themes/default.theme.bash
  test/Bash/theme-lib.test.bats
Due: dot-bash

update.
  test/Bash/theme-lib.test.bats
Due: none

Remove dangling function.
  Bash/lib/theme.bash
  Bash/themes/default.theme.bash
Due: dot-bash

update 4
  test/Bash/theme-lib.test.bats
Due: none

update 3
  Bash/lib/theme.bash
  test/Bash/theme-lib.test.bats
Due: dot-bash

Add support for literals in autopairs.
  Bash/core/autopairs.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

update 5
  test/Bash/theme-lib.test.bats
Due: none

sanitise prompt to fix wrapping problem.
  Bash/themes/default.theme.bash
Due: dot-bash

autopairs no closing pair if prev char is alphanum.
  Bash/core/autopairs.bash
Due: dot-bash

Remove failing test.
  Bash/lib/theme.bash
  test/Bash/theme-lib.test.bats
Due: dot-bash

enclose backslash in double quotes.
  test/Bash/autopairs-core.test.bats
Due: none

update.
  test/Bash/autopairs-core.test.bats
Due: none

suppress shellcheck warning.
  test/Bash/autopairs-core.test.bats
Due: none

Suppress grep throwing error if no match.
  Bash/core/autopairs.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

update.
  Bash/core/autopairs.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

update
  Bash/core/autopairs.bash
  test/Bash/autopairs-core.test.bats
Due: dot-bash

format
  Bash/core/autopairs.bash
Due: dot-bash

update again.
  Bash/core/autopairs.bash
Due: dot-bash

test for general aliases. (#34)
  Bash/core/autopairs.bash
  Bash/files_without_test.txt
  Bash/functions/general.functions.bash
  Bash/lib/theme.bash
  Bash/themes/default.theme.bash
  test/Bash/autopairs-core.test.bats
  test/Bash/general-aliases.test.bats
  test/Bash/general-functions.test.bats
  test/Bash/theme-lib.test.bats
Due: dot-bash

filter.
  .codecov.yml
Due: none

update simplecov filter to indicate directory.
  .simplecov
Due: none

Checking-in my work.
  .codecov.yml
  Bash/core/envars.bash
  Bash/themes/default.theme.bash
Due: dot-bash

update.
  README.md
  img/Gnu-bash-logo.svg.png
Due: none

add files via upload
  img/dotfiles-logo.png
Due: none

Update README.md
  README.md
Due: none

Cleaning up.
  .pre-commit-config.yaml
  Bash/core/keybindings.bash
  Bash/themes/default.theme.bash
Due: dot-bash

add codecov yaml file.
  codecov.yaml
Due: none

Move file as dotfile.
  .clean_files.txt
Due: none

checkin.
  .codecov.yaml
  .simplecov
Due: none

Moved readme into .github/
  .github/README.md
Due: none

check in.
  .github/README.md
  lint.sh
Due: dot-sh

Add i3 config.
  i3wm/config
Due: none

checkin.
  docs/README.md
Due: none

Add test for envars.
  Bash/core/envars.bash
  Bash/core/options.bash
  test/Bash/envars-core.test.bats
  test/run
  test/test_helper.bash
Due: dot-bash

Update.
  Bash/core/hooks.bash
  test/Bash/hooks.test.bats
Due: dot-bash

Move test suite.
  test/Bash/autopairs-core.test.bats
  test/Bash/envars-core.test.bats
  test/Bash/fzf-plugin.test.bats
  test/Bash/general-aliases.test.bats
  test/Bash/general-functions.test.bats
  test/Bash/hooks.test.bats
  test/Bash/nvm-plugin.test.bats
  test/Bash/options.test.bats
  test/Bash/pyenv-plugin.test.bats
  test/Bash/theme-lib.test.bats
  test/Bash/util.test.bats
  test/Nvim/feature/test.vader
  test/Nvim/include/setup.vader
  test/Nvim/include/teardown.vader
  test/Nvim/vader.vader
  test/Tmux/tmux_lib.test.bats
  test/install/install.bats
  test/run
  test/test_helper.bash
Due: none

check in.
  Bash/themes/default.theme.bash
Due: dot-bash

fix test directory path.
  test/run
Due: none

fix path.
  test/run
Due: none
