Repository cevhyruz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: dot-sh, dot-bash

dot-sh:
  name: Check .sh files against dotfiles requirements
  entry: ./hooks/dot-sh.sh
  language: system

dot-bash:
  name: Check .bash files against dotfiles requirements
  entry: ./hooks/dot-bash.sh
  language: system

Add CI checkout.
  .github/workflows/main.yml
Due: none

change checkout.
  .github/workflows/main.yml
Due: none

Add pre-commit config for vim-vint.
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Add markdownlint in precommit.
  .pre-commit-config.yaml
Due: none

Update CI.
  .github/workflows/main.yml
Due: none

Update CI error.
  .github/workflows/main.yml
Due: none

Test suite (#32)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  test/Nvim/feature/test.vader
  test/Nvim/include/setup.vader
  test/Nvim/include/teardown.vader
  test/Nvim/vader.vader
  test/Tmux/tmux_lib.test.bats
  test/run
  test/test_helper.bash
Due: none

Remove .env file.
  .env
Due: none

Set specific version of vim-vint.
  .github/workflows/main.yml
Due: none

Clean lint vimscript files.
  nvim/UltiSnips/all.snippets
  nvim/UltiSnips/c.snippets
  nvim/autoload/vimrc.vim
  nvim/colors/PaperColor.vim
  nvim/colors/codedark.vim
  nvim/colors/mytheme.vim
  nvim/colors/sh.vim
  nvim/colors/tpope.vim
  nvim/filetype.vim
  nvim/ftplugin/qf.vim
  nvim/nerdtree_plugin/this-should-be-really-long-file-with-git-status.testigo
  nvim/plugged/start/linebar/autoload/colorscheme/neon.vim
  nvim/plugged/start/linebar/autoload/linebars/powerline.vim
  nvim/plugged/start/linebar/plugin/custombar.vim
  nvim/plugged/start/tmuxline/plugin/tmuxline.vim
  nvim/plugin/_tmuxline.vim
  nvim/plugin/ale.vim
  nvim/plugin/components/mappings.vim
  nvim/plugin/diminactive.vim
  nvim/plugin/gitgutter.vim
  nvim/plugin/indentline.vim
  nvim/plugin/navigation.vim
  nvim/plugin/nerdtree.vim
  nvim/plugin/startify.vim
  nvim/plugin/tagbar.vim
  nvim/plugin/ultisnips.vim
  nvim/syntax/tmux.vim
Due: none

add exclude to shfmt and shellcheck.
  .pre-commit-config.yaml
Due: none

Add double-quote-string-fixer.
  .pre-commit-config.yaml
Due: none

Test.
  test/run
  test/vimrc
Due: none

another test.
  test/run
Due: none

Fix path.
  test/vimrc
Due: none

test something.
  test/vimrc
Due: none

add init.vim
  test/init.vim
Due: none

test.
  test/vimrc
Due: none

test again.
  test/run
Due: none

CI: dislable neovim.
  .github/workflows/main.yml
Due: none

test again.
  test/run
  test/vimrc
Due: none

Fixup vim files.
  nvim/filetype.vim
  nvim/init.vim
  nvim/mappings.vim
  nvim/options.vim
  nvim/plugin/fzf.vim
  nvim/plugin/gitgutter.vim
  nvim/plugin/indentline.vim
  nvim/plugin/nerdtree.vim
Due: none

Remove some snippet.
  nvim/UltiSnips/c.snippets
  nvim/UltiSnips/cpp.snippets
  nvim/UltiSnips/css.snippets
  nvim/UltiSnips/html.snippets
  nvim/UltiSnips/javascript.snippets
  nvim/UltiSnips/json.snippets
  nvim/UltiSnips/scss.snippets
Due: none

unset unused variable.
  Bash/bash_init.sh
Due: dot-sh

Cleanup nvm.plugin.bash environment.
  Bash/plugins/nvm.plugin.bash
Due: dot-bash

unset only the called function.
  Bash/plugins/nvm.plugin.bash
Due: dot-bash

Remove readline bindings.
  Bash/core/keybindings
  readline/inputrc
  readline/vi-command.readline
  readline/vi-insert.readline
Due: none

Add command_not_found handle as plugin.
  Bash/plugins/command_not_found.plugin.bash
Due: dot-bash

Add auto-pairs as bash plugin.
  Bash/plugins/auto-pairs.plugin.bash
Due: dot-bash

Add shellcheckrc.
  .shellcheckrc
Due: none

Disable shellcheck warning.
  test/Bash/plugins/nvm-plugin.test.bats
Due: none

Disable shellcheck warning.
  .shellcheckrc
  test/Bash/plugins/nvm-plugin.test.bats
Due: none

Revert merge.
  .shellcheckrc
Due: none

Add prefix.
  Bash/plugins/command_not_found.plugin.bash
Due: dot-bash

Remove dash.
  Bash/plugins/command_not_found.plugin.bash
Due: dot-bash

Amend: Add tilde. --> Remove dash.
  Bash/plugins/command_not_found.plugin.bash
Due: dot-bash

set functions as private.
  Bash/plugins/nvm.plugin.bash
Due: dot-bash

Add nvm-plugin test case.
  test/Bash/plugins/nvm-plugin.test.bats
Due: none

Fixup fzf plugin.
  Bash/plugins/fzf.plugin.bash
Due: dot-bash

Path conditions:
  dot-sh: any of: \.sh$
  dot-bash: any of: \.bash$, but not: test/test_helper.bash
